{{ define "customContent" }}
  <section class="gallery-intro text-center py-4">
    <h2>{{ .Title }}</h2>
    {{ with .Site.Params.description }}
      <p>{{ . }}</p>
    {{ end }}
  </section>
{{ end }}

{{ define "title" }}
  {{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="gallery">
  <div class="container">
    <div class="row">
      {{- $images := .Resources.Match "**images/*.{png,jpg}" -}}

        {{ range $image := $images }}

          {{- if gt $image.Width $image.Height -}}
            {{- $image = $image.Fill (printf "%dx%d" $image.Height $image.Height) -}}
          {{- else -}}
            {{- $image = $image.Fill (printf "%dx%d" $image.Width $image.Width) -}}
          {{- end }}

          <div class="col-6 col-md-4 col-xl-3 pb-3 px-2">
            <a href="{{ $image.RelPermalink }}" target="_blank">
              <img src="{{ $image.RelPermalink }}" alt="{{ $image.Name }}" class="img-fluid" width="{{ $image.Width }}" height="{{ $image.Height }}">
            </a>
          </div>
        {{ end }}

    </div>
  </div>
</section>
{{ end }}
