<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
<link rel="icon" href={{ .Site.Params.favicon }} type="image/gif">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      media="print" onload="this.media='all'" />
<noscript>
  <link
          href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</noscript>

<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/font.css" media="all">

<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/bootstrap-5/css/bootstrap.min.css" media="all">

<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/header.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/footer.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/theme.css" media="all">

<style>
    :root {
        --text-color: {{ .Site.Params.color.textColor}};
        --text-secondary-color: {{ .Site.Params.color.secondaryTextColor}};
        --text-link-color: {{ .Site.Params.color.textLinkColor }};
        --background-color: {{ .Site.Params.color.backgroundColor}};
        --secondary-background-color: {{ .Site.Params.color.secondaryBackgroundColor}};
        --primary-color: {{ .Site.Params.color.primaryColor}};
        --secondary-color: {{ .Site.Params.color.secondaryColor}};
    }
    body {
        font-size: {{ .Site.Params.font.fontSize}};
        font-weight: {{ .Site.Params.font.fontWeight}};
        line-height: {{ .Site.Params.font.lineHeight}};
        text-align: {{ .Site.Params.font.textAlign}};
    }

    html {
        background-color: var(--background-color) !important;
    }
</style>

